<!DOCTYPE html>
<html>

<head>
  <title><%= htmlWebpackPlugin.options.productName %></title>

  <meta charset="utf-8">
  <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <meta name="keywords" content="Ramadan,Fasting,South Africa">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Ramadan Time Table for South Africa">
  <meta itemprop="description"
    content="Ramadan Times is an interactive mobile web application that allows Muslim's in South Africa to keep track of Fasting Times. Supports over 300 Cities and Town together with a progress graph and daily duas.">
  <meta itemprop="image" content="https://www.ramadantimes.faith/statics/icons/Icon-512.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.ramadantimes.faith">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Ramadan Time Table for South Africa">
  <meta property="og:description"
    content="Ramadan Times is an interactive mobile web application that allows Muslim's in South Africa to keep track of Fasting Times. Supports over 300 Cities and Town together with a progress graph and daily duas.">
  <meta property="og:image" content="http://www.ramadantimes.faith/statics/icons/Icon-512.png">
  <meta property="og:image:secure_url" content="https://www.ramadantimes.faith/statics/icons/Icon-512.png">
  <meta property="fb:app_id" content="113980585602771" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.ramadantimes.faith">
  <meta property="twitter:title" content="Ramadan Time Table for South Africa">
  <meta property="twitter:description"
    content="Ramadan Times is an interactive mobile web application that allows Muslim's in South Africa to keep track of Fasting Times. Supports over 300 Cities and Town together with a progress graph and daily duas.">
  <meta property="twitter:image" content="https://www.ramadantimes.faith/statics/icons/Icon-512.png">

  <link rel="icon" type="image/png" href="https://ramadantimes.faith/statics/icons/Icon-128.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.ramadantimes.faith/statics/icons/Icon-16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.ramadantimes.faith/statics/icons/Icon-32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://www.ramadantimes.faith/statics/icons/Icon-96.png">
  <link rel="icon" type="image/ico" href="https://www.ramadantimes.faith/statics/icons/favicon.png">
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>
<noscript>Sorry, your Browser doesn’t support JavaScript!</noscript>

</html>